.card {
    width: 100%;
    padding: 40px;
    border-radius: 24px;
    background-color: rgba(225, 255, 255, 0.5) !important;
    backdrop-filter: blur(12px);
    color: #fff;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.card-glass {
    background: rgba(225, 255, 255, 0.1) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.header h1 {
    font-size: 36px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.header p {
    opacity: 0.8;
}

.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.feature {
    flex: 1;
    min-width: 180px;
    text-align: center;
}

.circle {
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 50%;
    border: 2px solid #ed858f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    margin-bottom: 12px;
}

.blob {
    width: 140px;
    height: 140px;
    /* background: #ed858f; */
    margin: auto;
    border-radius: 50% 40% 60% 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    box-shadow: 0 0 30px #ed858f;
    margin-bottom: 12px;
}
.actions {
    margin-top: 40px;
    align-items: center;
    gap: 16px;
}

.calenderEcon {
    color: #000000;
    font-size: 42px;
    position: fixed;
    top: 2%;
    left: 253px;

}

.whatsapp {
    background: #25d366;
    color: #fff;
    padding: 14px 28px;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 600;
}

.econswhat {
    padding-left: 13px;
}

.cta {
    background: linear-gradient(120deg,
            #a6c0fe 0%,
            #f68084 100%);
    border: none;
    padding: 16px 40px;
    border-radius: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .header h1 {
        font-size: 26px;
    }

    .features {
        flex-direction: column;
    }
}