:root {
    --background: #005;
    --primary: #88D5BF;
    --secondary: #f46388;
    --third: #e27fcb;
}

.shape {
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    height: 228px;
    transition: all 1s ease-in-out;
    width: 228px;
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        /* background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%); */
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        /* background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%); */
    }
}

@keyframes anim_1 {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.wrapper__inner {
    width: 400px;
    height: 400px;
    background: transparent;
    margin: auto;
    position: relative;
    display: table;
}

.item {
    width: 318px;
    height: 318px;
    color: white;
    position: absolute;
    text-align: center;

}

.item div {
    position: absolute;
    top: 46%;
    left: 48%;
}

.item:nth-child(1) {
    background-image: linear-gradient(45deg, rgb(226, 127, 203) 0%, rgb(93, 107, 248) 100%);
    border-radius: 79% 21% 60% 40% / 22% 77% 23% 78%;
    animation: anim_1 60s linear infinite reverse;
}

.item:nth-child(2) {
    color: red;
    background: #ffffff;
    border-radius: 26% 74% 19% 81% / 69% 27% 73% 31%;
    animation: anim_1 44s linear infinite normal;
}

.item:nth-child(3) {
    background: transparent;
    border-radius: 100%;
}



.card {
    width: 100%;
    padding: 40px;
    border-radius: 24px;
    background-color: rgba(24, 30, 55, 0.1) !important;
    backdrop-filter: blur(12px);
    color: #fff;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.card-glass {
    background: rgba(225, 255, 255, 0.1) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.header h1 {
    font-size: 36px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.header p {
    opacity: 0.8;
}

.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.feature {
    flex: 1;
    min-width: 180px;
    text-align: center;
}

.circle {
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 50%;
    border: 2px solid #ed858f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    margin-bottom: 12px;
}

.blob {
    width: 140px;
    height: 140px;
    /* background: #ed858f; */
    margin: auto;
    border-radius: 50% 40% 60% 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    box-shadow: 0 0 30px #ed858f;
    margin-bottom: 12px;
}

.actions {
    margin-top: 40px;
    align-items: center;
    gap: 16px;
}

.calenderEcon {
    color: #000000;
    font-size: 42px;
    position: fixed;
    top: 2%;
    left: 253px;

}

.whatsapp {
    background: #25d366;
    color: #fff;
    padding: 14px 28px;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 600;
}

.econswhat {
    padding-left: 13px;
}

.cta {
    background: linear-gradient(120deg,
            #a6c0fe 0%,
            #f68084 100%);
    border: none;
    padding: 16px 40px;
    border-radius: 40px;
    font-weight: bold;
    cursor: pointer;
    color: #000000;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .header h1 {
        font-size: 26px;
    }

    .features {
        flex-direction: column;
    }
}